= javascript_include_tag "carnival/data_tables_functions"
- special_scope =  params[:special_scope]
- model = @datatable.model
- items_for_scope_count = controller.table_items || model
- presenter = @datatable.presenter
- params = {:class => 'table'}

- date_filter_field = presenter.date_filter_field
- if date_filter_field.present?
  - params["data-from"] = date_filter_field.date_filter_periods[date_filter_field.default_date_filter][0]
  - params["data-to"] = date_filter_field.date_filter_periods[date_filter_field.default_date_filter][1]

- params["data-source"] = presenter.model_path("index", presenter.model_params(request.params).merge( {format: :json} ))

- params["data-search"] = presenter.searchable_fields.size > 0

- if special_scope.present?
  - params["data-special_scope"] = special_scope


- if presenter.has_batch_actions?
  .batch-operations
    - batch_operation_actions = []
    - presenter.batch_actions.each do |key, item|
      - batch_operation_actions.push([item.to_label, item.path]);
    = select_tag :batch_actions_select, options_for_select(batch_operation_actions), :prompt => I18n.t('batch_actions')
  :javascript
    $(document).ready(function(){
      $('#batch_actions_select').change(function(){
        if($('#batch_actions_select').val()){
          Carnival.remoteFunction($('#batch_actions_select').val(), 'Carnival.batchActionSuccessCallback', 'Carnival.batchActionErrorCallback', 'POST', {batch_action_items: Carnival.batch_action_items})
        }
      });
    });

.table-tools
  .advanced_search
    = render '/carnival/shared/advanced_search', :params => params, presenter: presenter
  = render '/carnival/shared/scope', :params => params, presenter: presenter, query: items_for_scope_count
  .actions
    - presenter.actions_for_page.each do |key, action|
      = render '/carnival/shared/action_default', :label=>t("#{presenter.model_name}.#{action.name}", default: t("carnival.#{action.name}")), :path=> action.path
  = render '/carnival/shared/period_filter', :params => params, presenter: presenter

%table{params}
  %thead
    %tr
      -if presenter.has_batch_actions?
        %th
          %input{id: 'toggle-all-batch-actions-items',type: 'checkbox',disabled: 'disabled'}
      -presenter.fields_for_action(:index).each do |key, field|
        %th{"data-sortable" => "#{field.sortable_params}"}= t("activerecord.attributes.#{presenter.full_model_name}.#{field.name}")
      %th.buttons
  %tbody

.table-tools.table-download-links
  = link_to t('download_as_csv'), "javascript:exportTable('csv');"  if presenter.has_action?(:csv)
  = link_to t('download_as_pdf'), presenter.model_path(:index, {:format => 'pdf'}) if presenter.has_action?(:pdf)
:javascript
  function exportTable(format){
    var url = generateDataSource($("table").first()).replace("json", format);
    window.open(url,'_blank');
  }

  var dataTablesTranslation = {
    'oPaginate': {
      'sFirst': '#{t('data_tables.first')}',
      'sLast': '#{t('data_tables.last')}',
      'sNext': '#{t('data_tables.next')} &raquo;',
      'sPrevious': '&laquo; #{t('data_tables.previous')}',
    },
    'sInfo': '#{t('data_tables.row_counter')}',
    'sInfoEmpty': '#{t('data_tables.row_counter_empty')}',
    'sEmptyTable': '#{t('data_tables.table_empty')}',
    'sInfoFiltered': '#{t('data_tables.rows_filtered')}',
    'sInfoPostFix': '',
    'sLengthMenu': '#{t('data_tables.rows_per_page')}',
    'sProcessing': '#{t('data_tables.processing')}',
    'sSearch': '',
    'sZeroRecords': '#{t('data_tables.zero_records')}'
  };

  Carnival.remoteFunction = function(url, successCallback, errorCallback, method, data){
    if(!data)
      data = {};
    $.ajax({
      url: url,
      type: method,
      data: data,
      success: function(data, status, jqXHR){
        Carnival.callFunc(successCallback, data);
      },
      error: function(jqXHR, status, error){
        Carnival.callFunc(errorCallback, data);
      }
    })
  }

  Carnival.callFunc = function(functionName, data){
    var func = window[functionName];
    if(func)
    {
      if(typeof func === 'function')
      {
        func(data);
      }
    }else{
      if(console && console.warn)
        console.warn('The funcion ' + functionName + ' was not implemented')
    }
  }

  Carnival.increaseScope = function(scopeName){
    Carnival.updateScopeNumber(true, scopeName);
  }

  Carnival.decreaseScope = function(scopeName){
    Carnival.updateScopeNumber(false, scopeName);
  }

  Carnival.updateScopeNumber = function(increase, scopeName){
    var scopeLocNumbers = Carnival.getScopeNumber(scopeName);
    if(!scopeLocNumbers && scopeLocNumbers != 0)
      return;

    if(increase)
      scopeLocNumbers++;
    else
      scopeLocNumbers--;

    Carnival.setScopeNumber(scopeName, scopeLocNumbers);
  }

  Carnival.setScopeNumber = function(scopeName, val){
    $('.datatables-scope[data-scope='+scopeName+'] .count').html('('+val+')');
  }

  Carnival.getSelectedScope = function(){
    return $('.scope.selected .datatables-scope').attr('data-scope');
  }

  Carnival.getScopeNumber = function(scope){
    var locNumber = $('.datatables-scope[data-scope='+scope+'] .count').html();
    if(!locNumber)
      return '';
    locNumber = locNumber.replace('(', '').replace(')','');
    return parseInt(locNumber);
  }

  Carnival.reloadTable = function(){
    var dataTable = $(".table").dataTable();
    dataTable.fnReloadAjax(generateDataSource($(".table")));
  }

  $(document).ready(function(){
    datatable_list('table', []);
  });
