- special_scope =  params[:special_scope]
- model = @model
- presenter = @presenter
- params = {:class => 'table'}

- date_filter_field = presenter.date_filter_field
- if date_filter_field.present?
  - params["data-from"] = date_filter_field.date_filter_periods[date_filter_field.default_date_filter][0]
  - params["data-to"] = date_filter_field.date_filter_periods[date_filter_field.default_date_filter][1]

- if special_scope.present?
  - params["data-special_scope"] = special_scope


- if presenter.has_batch_actions?
  .batch-operations
    - batch_operation_actions = []
    - presenter.batch_actions.each do |key, item|
      - batch_operation_actions.push([item.to_label, item.path(presenter)]);
    = select_tag :batch_actions_select, options_for_select(batch_operation_actions), :prompt => I18n.t('batch_actions')
  :javascript
    $(document).ready(function(){
      Carnival.batchActionSelected();
      $('#batch_actions_select').change(function(){
        if($('#batch_actions_select').val()){
          Carnival.remoteFunction($('#batch_actions_select').val(), 'Carnival.batchActionSuccessCallback', 'Carnival.batchActionErrorCallback', 'POST', {batch_action_items: Carnival.batch_action_items})
        }
      });
    });


.carnival-index-form
  = form_tag(presenter.model_path(:index), method: 'get') do
    - @query_form.instance_variables.each do |variable|
      - variable_name = variable.to_s.gsub '@', ''
      = hidden_field_tag(variable_name, @query_form.send(variable_name) )

.table-tools
  .advanced_search
    = render '/carnival/shared/advanced_search', :params => params, presenter: presenter
  = render '/carnival/shared/scope', :params => params, presenter: presenter
  .actions
    - presenter.actions_for_page.each do |key, action|
      = render '/carnival/shared/action_default', :label=>t("#{presenter.model_name}.#{action.name}", default: t("carnival.#{action.name}")), :path=> action.path(presenter)
  = render '/carnival/shared/period_filter', :params => params, presenter: presenter, date_period_label: @query_form.date_period_label

%table{params}
  %thead
    %tr
      -if presenter.has_batch_actions?
        %th
          %input{id: 'toggle-all-batch-actions-items',type: 'checkbox',disabled: 'disabled'}
      - @thead_renderer.columns.each do |column|
        %th{"onclick" => "javascript:#{column[:sort_function]}",  "class" => "#{column[:class]}"}= translate_field(presenter, column[:field])
      %th.buttons
  %tbody
    - @records.each do |record|
      %tr
        - if @presenter.has_batch_actions?
          %td
            =check_box_tag(:batch_action_item, record.id, false, class: 'batch_action_items')
        - @presenter.fields_for_action(:index).each do |key, field|
          = list_cel(@presenter, key,record, false).html_safe
        %td
          = list_buttons(@presenter, record).html_safe

.table-tools.table-download-links
  = link_to t('download_as_csv'), "javascript:exportTable('csv');"  if presenter.has_action?(:csv)
  = link_to t('download_as_pdf'), presenter.model_path(:index, {:format => 'pdf'}) if presenter.has_action?(:pdf)

.table-tools.table-paginate
  = "Total Records : #{@query_service.total_records}"
  - @paginator.pages.each do |page_hash|
    = link_to(t(page_hash[:label]), page_hash[:js_function])



:javascript

  Carnival.remoteFunction = function(url, successCallback, errorCallback, method, data){
    if(!data)
      data = {};
    $.ajax({
      url: url,
      type: method,
      data: data,
      success: function(data, status, jqXHR){
        Carnival.callFunc(successCallback, data);
      },
      error: function(jqXHR, status, error){
        Carnival.callFunc(errorCallback, data);
      }
    })
  }

  Carnival.callFunc = function(functionName, data){
    var func = window[functionName];
    if(func)
    {
      if(typeof func === 'function')
      {
        func(data);
      }
    }else{
      if(console && console.warn)
        console.warn('The funcion ' + functionName + ' was not implemented')
    }
    Carnival.submitIndexForm();
  }

