- options = {wrapper_html: {class: "col-md-#{field.size}"}}
- current_type = model_presenter.field_type(field.name)
- options[:as] = :admin_enum if current_type == :enum
- options[:as] = :admin_relationship_select if current_type == :relation
- options[:as] = :admin_date if current_type.to_s =~ /^date(time)?$/
- options[:as] = field.as if field.as.present?


- options[:input_html] = {}
- options[:input_html][:class] = "field-#{field.name}"
- options[:input_html][:data] = {}

- if field.depends_on.present?
  - options[:input_html][:data][:depends_on] = field.depends_on
  :javascript
    $(".field-#{field.depends_on}").change(function(event, element){
      updateDependentFormSelectHtml(element.selected, $(this).attr("name").match( /\[(.*)\]/)[1], $($(".field-#{field.name}").first()).attr("name").match( /\[(.*)\]/)[1]);
    });

= f.input field.name, options
