.carnival-select-options
  .carnival-select-tag
    = select_tag opt_obj.select_tag_id, options_for_select(opt_obj.select_options)
  = link_to_function t("nested_form.add_option"), 'addOption("'+opt_obj.select_tag_id+'")'
  - if opt_obj.has_new_action?
    = '|'
    = link_to_function t("nested_form.new"), "createNewForm('.nested-form-list.#{opt_obj.field_name}', '#{opt_obj.field_name}')"

.carnival-form-options
  - opt_obj.available_options.each do |item|
    - checkbox_id = opt_obj.option_id item
    .carnival-form-options{id: "#{checkbox_id}_options", class: opt_obj.option_css_class(item) }
      %span
        = check_box_tag opt_obj.option_name, item.id, opt_obj.model_has_this_item?(item.id), id: checkbox_id, onclick: 'removeRelationOption("'+checkbox_id+'", "'+opt_obj.select_tag_id+'")'
        = item.to_label
