= javascript_include_tag "carnival/advanced_search"
= link_to t("advanced_search"), "", id: "advanced_search_toggler", :class => "carnival-action-button busca"
%ul#advanced_search_form.carnival-form
  - presenter.advanced_search_fields.each do |key, field|
    - if params[key.to_s].present? && params[key.to_s] != "undefined"
      - value =  params[key.to_s]
    %li.search_item
      .search_field
        .label
          = label_tag key, I18n.t("carnival.advanced_search_label.#{presenter.model_name}.#{field.name}", default: presenter.translate_field(field))
        .field
          = render '/carnival/shared/advanced_search_field', :field => field, :presenter => presenter, :value => value
  %li.search_item
    .action
      = link_to t("clear"), "#", :id=> "clear_button", :class => "carnival-action-button clear-search"
    .action
      = link_to t("search"), "#", :id=> "search_button", :class => "carnival-action-button search-submit"

%ul.advanced-search-tags
  - presenter.advanced_search_fields.each do |key, field|
    - if params[key.to_s].present? && params[key.to_s] != "undefined"
      - value =  params[key.to_s]
      %li.advanced-search-tag
        %span
          = presenter.translate_field(field)
          - if presenter.field_type(field.name) == :boolean
            - if value.to_s.downcase == 'true'
              = t('yyes')
            - else
              = t('nno')
          - else
            = ": #{value}"
        %a{:href => "javascript:Carnival.removeAdvancedSearch('"+key.to_s+"')"}
