= javascript_include_tag "carnival/advanced_search"
= link_to t("advanced_search"), "", id: "advanced_search_toggler", :class => "carnival-action-button busca"
%ul#advanced_search_form.carnival-form
  - presenter.advanced_search_fields.each do |key, field|
    - if params[key.to_s].present? && params[key.to_s] != "undefined"
      - value =  params[key.to_s]
    %li.search_item
      .search_field
        .label
          - label_field = presenter.get_field(field)
          - default_label = t("activerecord.attributes.#{presenter.full_model_name}.#{key}")
          - if presenter.relation_field?(label_field)
            = label_tag key, t("activerecord.attributes.#{label_field.name}", default: default_label)
          - else
            = label_tag key, default_label
        .field
          = render '/carnival/shared/advanced_search_field', :field => field, :presenter => presenter, :value => value
  %li.search_item
    .action
      = link_to t("clear"), "#", :id=> "clear_button", :class => "carnival-action-button clear-search"
    .action
      = link_to t("search"), "#", :id=> "search_button", :class => "carnival-action-button search-submit"

%ul.advanced-search-tags
  - presenter.advanced_search_fields.each do |key, field|
    - if params[key.to_s].present? && params[key.to_s] != "undefined"
      - value =  params[key.to_s]
      %li.advanced-search-tag
        = t("activerecord.attributes.#{presenter.full_model_name}.#{key}")
        = ": #{value}"
        %a{:href => "javascript:Carnival.removeAdvancedSearch('"+key.to_s+"')"}
