- presenter.actions_for_record.each do |key, action|
  - if action.show(record)
    - if action.remote?
      = render action.partial, :path => action.path(presenter, :id => record.id), :name => action.name, :params => action.params, :label => t("#{presenter.model_name}.#{action.name}", default: t("carnival.#{action.name}"))
    - else
      = render action.partial, :path => action.path(presenter, :id => record.id), :name => action.name,:label => t("#{presenter.model_name}.#{action.name}", default: t("carnival.#{action.name}"))

