!!!
%html
  %head
    %link{ href: '/assets/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' }/
    %title= Carnival::Config.app_name
    = stylesheet_link_tag "carnival/admin", :media => "all"
    = javascript_include_tag "carnival/admin", "data-turbolinks-track" => true
    = stylesheet_link_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.css")
    = javascript_include_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.js")
    = csrf_meta_tags
    - Carnival::Config.custom_javascript_files.each do |file|
      = javascript_include_tag file
    - Carnival::Config.custom_css_files.each do |file|
      = stylesheet_link_tag file, :media => "all"

  %body
    .carnival-wrapper
      .carnival-user-menu
        = carnival_render_if_exist 'carnival/extra_header'
      .carnival-header-wrappeer
        .carnival-header
          .carnival-custom-logo
            - if partial_exist? 'carnival/app_logo' 
              = render 'carnival/app_logo'
            -else
              = link_to "#{Carnival::Config.app_name}", carnival_root_url
          - title = page_title
          - if title.present?
            .page-title
              &nbsp;::
              = t(title).html_safe
      #content_wrapper
        = render '/layouts/carnival/menu'
        #content
          #main_column_wrapper
            #main_column
              :javascript
                #{show_messages}
              = yield
              = render '/carnival/shared/application_modal_partial'
            .clearfix
      .carnival-footer-wrapper
        = carnival_render_if_exist 'carnival/extra_footer'
        .carnival-footer
          .carnival-footer-title
          .carnival-footer-logo
