- model_name = presenter.model_name

:javascript
  $(document).ready(function(){
    datatable_list('table', []);
  });

%h1= t("#{model_name}.list")

%table{:class => 'table'}
  %thead
    %tr
      - presenter.fields_for_action(:pdf).each do |key, field|
        %th= t("#{model_name}.#{field.name}")
      %th{:style => 'width: 20px;'}

  %tbody
    - items.each do |item|
      %tr{:id => "item#{item.id}", :class => 'more-click hiddenn'}
        - presenter.fields_for_action(:pdf).each do |key, field|
          = render '/admin/shared/list_cel', :field=> key, :record=> item, :only_render_fields => false, :presenter => presenter
